<?xml version="1.0"?>

<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="arduinobot">

  <gazebo>
    <xacro:if value="${arg is_ignition}">
      <plugin filename="ign_ros2_control-system" name="ign_ros2_control::IgnitionROS2ControlPlugin">
        <parameters></parameters>
      </plugin>
      <plugin filename="gz_ros2_control-system" name="gz_ros2_control::GazeboSimROS2ControlPlugin">
        <parameters></parameters>
      </plugin>
        
  </gazebo>

</robot>